*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 50%;
    height: 50vh;
    background-color: black;
}

@media (max-width:576px)  {
    .hero{
        width: 20%;
        background-color: aqua;
    }
}