*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}


/* generic css */


.flex{
    display: flex;
}

.justify-space-between{
    justify-content: space-between;
}

.align-item-center{
    align-items: center;
}

header{
    color: white;
    background-color: rgba(33, 33, 145, 0.928);
}